<% provide(:title, "About")	%>
<h1>About Weight Trackr</h1>
<p>
	Weight Trackr is a simple way to allow you to keep track of some key 
	body composition metrics that allow you to go beyond the traditional 
	weight measurement apps. 	
</p>
<p>
	Instead you can now keep track of metrics such as:
</p>
<ul>
	<li>Total Weight</li>
	<li>Muscle Mass%</li>
	<li>Body Water%</li>
	<li>Bone Weight</li>
	<li>Body Fat %</li>
</ul>