<div class="center hero-unit">
	<h1>Welcome to Weight Trackr</h1>

	<h2>
		Weight Trackr is a simple web application that allows you to quickly keep track of your bodies composition metrics over time.
	</h2>

	<%=	link_to "Sign up now", "#", class: "btn btn-large btn-primary" %>
</div>